<div class = "col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p> Splurty was built by <a target=" blank" href="https://github.com/candgoods">Candace</a>
  </p>

  <br/>

  <div class = "row">
    <div class = "col-12 col-sm-4">
      <%= image_tag 'candace.jpg', class: 'img-fluid' %>
    </div>

    <div class = "col-12 col-sm-7 offset-sm-1">
      <h2 class = "text-center">Candace Goodson</h2>
      <br/>
      <p>
      Candace is a student of the <a target = "_blank" href="http://www.thefirehoseproject.com/">Firehose Project</a>.
      </p>

    </div>
   </div>

<br class="clear" />
<br />
<br />

</div>