<div class = "col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p> Splurty was built by <a target=" blank" href="https://github.com/candgoods">Candace</a> using Ruby on Rails, HTML, & CSS.
  </p>

  <br/>

  <div class = "row">
    <div class = "col-12 col-sm-4">
      <%= image_tag 'candace.jpg', class: 'img-fluid' %>
    </div>

    <div class = "col-12 col-sm-7 offset-sm-1">
      <h2 class = "text-center">Candace Goodson</h2>
      <br/>
      <p>
      Candace created this application while a student of the <a target = "_blank" href="http://www.thefirehoseproject.com/">Firehose Project</a>. She joined the program to finally enter into a field of work that she enjoys immensely! To learn more about her journey into web development, please visit <a target = "_blank" href="http://www.cjsdevlife.com/">here</a>. If you would like to learn more about her professional background, please visit <a target = "_blank" href="https://www.linkedin.com/in/candgoods/">here</a>.
      </p>

    </div>
   </div>

<br class="clear" />
<br />
<br />

</div>